{% extends 'GtSistemaBundle::basePop.html.twig' %}

{% block body %}

    <style>
        .popover-footer{
            padding: 6px 14px;
            background-color: #f7f7f7;
            border-top: 1px solid #ebebeb;
            text-align: right;
        }
                          
        .bootstrap-table .table,
        .bootstrap-table .table > tbody > tr > th,
        .bootstrap-table .table > tfoot > tr > th,            
        .bootstrap-table .table > tbody > tr > td,
        .bootstrap-table .table > tfoot > tr > td {            
            padding: 2px !important;
            vertical-align: top;
            overflow: hidden;
            text-overflow: ellipsis;
            //white-space: nowrap;
            font-size:11.5px;
           
        }
        
        .fixed-table-container thead th .th-inner {
            padding: 2px !important;        
            font-size:12px;
        }
        
    </style>

    <div class="container-fluid">

    <form {{ form_enctype(form) }} method="POST" action="#" >

  
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="flash-notice">                              
                <div class="alert alert-success alert-dismissible" role="alert" style="padding-bottom:0px; padding-top: 0px; margin-bottom: 3px">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" ><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                    {% set guardado=true %}
                </div>                               
            </div>
        {% endfor %}


                    {{ form_widget(form.id) }}
                    {{ form_errors(form.id) }}
                    <p>
                        <label >Criterio</label>        

                        {{ form_widget(form.criterioDescripcion) }} 
                        {{ form_errors(form.criterioDescripcion) }}

                    </p>
                    
 
 <div class="row">
        <div class="col-md-12 text-right">                       
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" onclick="parent.cerrar()">Cerrar</button>
                        {% if guardado %}
                            <script type="text/javascript">
                                parent.refreshTabla();
                            </script>
                            
                        {% endif %}
                        <button type="submit" id="btnGuardar" name="btnGuardar" class="btn btn-sm btn-primary">Guardar</button>
                        
        </div>
 </div>
                        
     
                        
    {{ form_rest(form) }}



</form>    

        </div>
{% endblock %}

    {% block javascript %} 
        <script type="text/javascript">
            var wins;
            $(document).ready(function() {
                    
            });

        </script>  

    {% endblock %}    