{% extends 'GtSistemaBundle::basePop.html.twig' %}

{% block body %}

    <style>
        .popover-footer{
            padding: 6px 14px;
            background-color: #f7f7f7;
            border-top: 1px solid #ebebeb;
            text-align: right;
        }
                          
        .bootstrap-table .table,
        .bootstrap-table .table > tbody > tr > th,
        .bootstrap-table .table > tfoot > tr > th,            
        .bootstrap-table .table > tbody > tr > td,
        .bootstrap-table .table > tfoot > tr > td {            
            padding: 2px !important;
            vertical-align: top;
            overflow: hidden;
            text-overflow: ellipsis;
            //white-space: nowrap;
            font-size:11.5px;
           
        }
        
        .fixed-table-container thead th .th-inner {
            padding: 2px !important;        
            font-size:12px;
        }
        
    </style>

<div class="container-fluid">
    

    <form method="POST" {{ form_enctype(form) }} onsubmit="formAccion(2, '{{ entityId }}')">
    
    


    {% set guardado=false %}

        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="flash-notice">                              
                <div class="alert alert-success alert-dismissible" role="alert" style="padding-bottom:0px; padding-top: 0px; margin-bottom: 3px">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" ><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                    {% set guardado=true %}
                </div>                               
            </div>
        {% endfor %}

                    {# <ol class="breadcrumb">
                       <li><a href="#">Clientes</a></li>                      
                       <li class="active">Nuevo</li>
                     </ol>#}

    <table style="border-collapse: collapse; width: 100%">
       
    <tr>
        <td valign="top">


          {#  <div class="panel panel-primary" style="margin:0px; padding: 0px;">
                <div class="panel-heading" style=" height: 20px; padding-top: 0px;">                    
                    Datos básicos curso                
                </div>
                <div class="panel-body" style="padding: 4px" >#}

                    <div class="container-fluid" style="padding-left:0px; padding-right: 0px; margin-right: 0px ">
                    {{ form_widget(form.id) }}
                    {{ form_errors(form.id) }}
                    <p>
                        <label for="tbxCursoCodigo">Codigo Curso</label><br>
                        {{ form_widget(form.cursoCodigo) }} 
                        {{ form_errors(form.cursoCodigo) }}
                    </p>
                    <p>
                       <label for="tbxPerfilNombre">Nombre Curso</label>    
                       
                       {{ form_widget(form.cursoNombre) }} 
                       {{ form_errors(form.cursoNombre) }}
                    </p>
                    <p>
                        <label for="tbxPerfilDefinicion">Objetivo Curso</label>        
                        {{ form_widget(form.cursoObjetivo) }} 
                        {{ form_errors(form.cursoObjetivo) }}
                    </p>
                                        
                    </div>
               {# </div>    
            </div>#}
        </td>                             
    </tr>
    <tr>
        <td>
            <label>Modulos del curso</label>  
            
            <table id='tblModulo' data-classes="table table-condensed" 
                data-unique-id="id"                                   
                data-toggle="table"                                
                data-height="220"                                            
                    data-url="{{path('maestroTabla', {'maeTipoId': 10, 'cursoId':cursoId})}}">
                    <thead>
                    <tr>
                        <th data-field="id" data-sortable="false" data-visible="false" >#</th>                        
                        <th data-formatter="opciones" data-events="opcionesEventos" data-width="70">Opciones</th>
                        <th data-field="moduloCodigo" data-sortable="true" data-formatter="moduloCodigo" data-width="100" >Codigo Modulo</th>
                        <th data-field="moduloNombre" data-sortable="true" data-formatter="modulo" >Nombre Modulo</th>
                        {#<th data-field="moduloDefinicion" data-width="600">Definicion</th>#}                        
                    </tr>
                    </thead>                    
                </table> 
            
        </td>
    </tr>
     
    <tr>
        <td align="right" colspan="1" >
          {#  <div class="panel panel-primary" style="margin:0px; padding: 0px;">                        
                <div class="panel-body" style="padding: 5px" >    #}                        
                    <div style="margin-top:5px">
                        <button id="btnModuloAgregar" type="button" class="btn btn-sm btn-info"  style="float:left">Agregar Modulo</button>
          
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" onclick="parent.cerrar()">Cerrar</button>
                        {% if guardado %}
                            <button type="button" id="btnOtro" name="btnOtro" class="btn btn-sm btn-primary" onclick="formAccion(1, '0')">Agregar Otro</button>
                            <script type="text/javascript">
                                window.parent.refreshTabla();
                            </script>
                            
                        {% endif %}
                        <input type="submit" id="btnGuardar" name="btnGuardar" value="Guardar" class="btn btn-sm btn-primary" >
                        {#<button type="button" class="btn btn-sm btn-info" onclick="maeVolver({{maeTipoId}}, '{{winParent}}', 'winCurso', [{'entityId': '{{ entityId }}'}])">Volver al Listado</button>#}
                    </div>    
                        
                                
{#                </div>
            </div>#}
        </td>    
    </tr>
</table>
                        
                        <div id="my_amazing_modal"></div>
{#Nombre

{{ form_widget(form.cursoContactoCobranzaNombre) }}                                                                                                                                                                                                 

Email

{{ form_widget(form.cursoContactoCobranzaMail) }}                                                                                                                                                     

Telefono

{{ form_widget(form.cursoContactoCobranzaTelefono) }}                                                                                                

Cargo

{{ form_widget(form.cursoContactoCobranzaCargo) }}                                                                                                   
#}

{#<input onclick="fncEnviarNotificacion('cobranza')" disabled type="button" id="btnNotificarCobranza" name="btnNotificarCobranza" value="Notificar Acceso" >
Ultima Notificacion :
{% if usuarioFechaUltimaNotificacionCobranza is defined %}
    <span id="spnFechaUltimaNotificacionCobranza" title="Fecha Ultima Notificacion" style="font-size: 10px">{{usuarioFechaUltimaNotificacionCobranza}}</span>        
{% endif %}#}

<input type="hidden" id="tbxModulo" name="tbxModulo" value="">

{{ form_rest(form) }}
        </form>        

        </div>
{% endblock %}

    {% block javascript %} 
        <script type="text/javascript">
            var wins;
            
            var $tableModulo = $('#tblModulo'),
                $buttonModuloAgregar = $('#btnModuloAgregar');
        
            $(document).ready(function() {
                //window.parent.winProgress(winMae);
{#
                $("#btnCursoContactoHabilitadoInfo").popover({
                    title: 'Ingreso a Plataforma',
                    content: "<p>El contacto podra ingresar a plataforma de FacuturacionFacil y podra visualizar los documento emitidos, a su vez podra ver comentarios sobre el documento, para conocer mas sobre esto revisa el siguiente link <a href='http://www.google.cl' target='_blank' >wiki</a> </p>",
                    html: true,
                    template: '<div class="popover"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div><div class="popover-footer"><a href="#" class="btn btn-info btn-sm">Cerrar</a></div></div>',
                    placement: 'left',
                    container: 'body',
                    trigger: 'focus'
                });#}
                                                                        
            });


            $(window).load(function() {
                var form = $('form')[0];
                form.action="";  
                $tableModulo.on('load-success.bs.table', function (e, data) {
                    //$result.text('Event: load-success.bs.table');
                    //alert("se cargo!");
                    
                    rows=parseInt($tableModulo.bootstrapTable('getData').length);
                    
                    //alert ("row inicio:"+rows)
                    {#alert(rows)
                    if (rows==0) {
                        $button.click();
                    } else {

                    } #} 
                                        
                    if (rows>=1) {
                        //cargaObjHorario(rows);
                    } else {
                        //$button.click();
                                                
                        {#$tableModulo.bootstrapTable('insertRow', {
                            index: rows,
                            row: {id: rows+1,
                                moduloNombre: '',
                                },                          
                        });#}
                        
                        //cargaObjHorario(rows);
                        
                    }
                });
                
                 
            });
            
            
            
            
            {#        data-container="body" data-placement="bottom" data-trigger="focus" title="Popover title" data-content="El contacto podra ingresar a plataforma de FacuturacionFacil y podra visualizar los documento emitidos, a su vez podra ver comentarios sobre el documento, para conocer mas sobre esto revisa el siguiente link"                #}
           
            
                
            $buttonModuloAgregar.click(function () {
                    //var randomId = 100 + ~~(Math.random() * 100);
                    rows=parseInt($tableModulo.bootstrapTable('getData').length);
                                                
                        
                    if (validaModulo(rows)) {
                    
                        $tableModulo.bootstrapTable('insertRow', {
                            index: rows,
                            row: {id: rows+1,
                                moduloCodigo: '',
                                moduloNombre: ''},                            
                        });
                        
                        //cargaObjHorario(rows);
                    }                                                           
                });
                
            function validaModulo(rows) {
                
                var objModuloCodigo;
                var objModuloNombre;
                //var objHorarioInicio;
                //var objHorarioTermino;
                var arrModulo = [];
                for (i=0;i<rows;i++) {
                    //alert(i);
                    objModuloCodigo="#moduloCodigo"+i;
                    objModuloNombre="#moduloNombre"+i;
                    
                   // alert("valida:" + i + " - " +  $(objHorarioFecha).val() + " - " + $(objHorarioInicio).val() + " - " + $(objHorarioTermino).val());
                    if ($(objModuloCodigo).val()==="") {
                        alert("Debe completar el codigo del modulo");
                        return false;
                    }
                    
                    if ($(objModuloNombre).val()==="") {
                        alert("Debe completar el nombre del modulo");
                        return false;
                    }
                    //arrModulo[i]=[];
                    arrModulo[0][i]=$(objModuloCodigo).val();
                    arrModulo[1][i]=$(objModuloNombre).val();
                }
                
                for (i=0;i<rows;i++) {
                    valModuloCodigo=arrModulo[0][i];
                    valModuloNombre=arrModulo[1][i];                    
                    $tableModulo.bootstrapTable('updateByUniqueId', {
                            id: i+1,
                            row: {
                                //id:i,
                                moduloCodigo: valModuloCodigo,
                                moduloNombre: valModuloNombre,
                            },                           
                        });
                    
                }     
                return true;
            }
            
            function moduloCodigo(value, row, index) {
                return ['<input type="text" id="moduloCodigo',index,'" name="moduloCodigo',index,'" value="' + value + '" style="width:100%" required="required">'].join('');  
            }
            
            function modulo(value, row, index) {

                return ['<textarea id="moduloNombre',index,'" name="moduloNombre',index,'" rows="2" style="width:100%" required="required">' + value + '</textarea>'].join(''); 

                 {#return ['<input type="text" id="moduloNombre',index,'" name="moduloNombre',index,'" class="form-control" value="' + value + '" style="width:100%" >',                        
                        ].join('');  #}
                                
               {# return ['<div class="col-sm-6" style="padding:0px">',
                        '<div class="input-group input-group-xs">',                    
                        '<input type="text" id="moduloNombre',index,'" name="moduloNombre',index,'" class="form-control" value="' + value + '" style="width:100%" >',                        
                        '</div>',
                        '</div>'
                        ].join('');  #}                                                
            }
            
            function opciones(value, row, index) {
                
                    return [
                        '<div class="btn-group" role="group"><button type="button" class="modificar btn btn-xs btn-default" ><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>',
                        '<button type="button" class="borrar btn btn-xs btn-default" ><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>',
                        '</div>'
                    ].join('');
                

            }
        
            window.opcionesEventos = {
                'click .borrar': function (e, value, row, index) {                
                    alert(row.id);
                    var $tableModulo = $('#tblModulo');                                         
                    $tableModulo.bootstrapTable('removeByUniqueId', row.id);                                
                }               
            };
            
            
            function formAccion(accionId, maeRegistroId) {
                objParametros = [{
                        'maeTipoId': '{{maeTipoId}}',
                        'maeNombre': 'curso',
                        'winParent': '{{winParent}}',
                        'entityId': maeRegistroId,
                        'cursoId': '{{cursoId}}',
                        'dataModulo': '1'
                    }];

                var jsnParametros = JSON.stringify(objParametros);
                
                var parametros = {'maeParametros': jsnParametros};

                switch (accionId) {
                    case 1:
                        //window.parent.winProgress(wins, "winCursoRegistrar", 1);
                        window.parent.progress();
                        var url = Routing.generate('maestroRegistrar', parametros);
                        document.location.href = url;
                        break;
                    case 2:
                        var form = $('form')[0];                        
                        if (form.checkValidity()) {                                                                                     
                            rows=parseInt($tableModulo.bootstrapTable('getData').length);
                            
                            if (validaModulo(rows)) {
                                window.parent.progress();
                                dataTable=JSON.stringify($tableModulo.bootstrapTable('getData')); 
                                
                                
                                
                                return false;
                                document.getElementById("tbxModulo").value=dataTable;
                                console.log('valid');
                                var url = Routing.generate('maestroRegistrar', parametros);
                            
                                form.action=url;
                                form.submit();
                            }
                        }                                                                    
                        break;
                }
            }

        </script>  

        <script src="{{ asset('js/mae/maeFunciones.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/comFunciones.js') }}" type="text/javascript"></script>

    {% endblock %}    