{% extends 'GtSistemaBundle::basePop.html.twig' %}
{% block title %} Gestionatalento {% endblock %}
{#{% block dondeEstoy %}Empresa Cambiar{% endblock %}#}

{% block body %}

     <div id="container">     
         <form {{ form_enctype(form) }} method="POST" onsubmit="return onSubmit()" action="#">


        {{ form_widget(form.id) }}
        {{ form_errors(form.id) }}
        {#                    {{ form_widget(form.empresaId) }}
                            {{ form_errors(form.empresaId) }}#}


        
        {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-notice">                              
                    <div class="alert alert-success alert-dismissible" role="alert" >
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close" ><span aria-hidden="true">&times;</span></button>
                        {{ flashMessage }}

                        {% set guardado=true %}
                        </div>
                    </div>
        {% endfor %}
                            
                            
        {#<div class="input-group" >#}
        {#<div class="row">
            <div class="col-md-12">
                <div class="control-group form-horizontal">
                    <div class="form-group">#}
                        {#<div class="col-md-3 control-label" style="padding-right: 0px; padding-left: 0px;"><b>Nombre del Tour</b></div>#}
                        <p>
                        <label>Pregunta Asociada a                       
                           
                                <font color="red">Competencia</font>
                           
                        </label>                                                                           
                        </p>
                        {#</div>
                    </div>
                </div>    
            </div>
        </div>#}



        {# {{ form_widget(form.preguntaTipoId) }} 
         {{ form_errors(form.preguntaTipoId) }}#}



        {# <span class="input-group-addon">
             <input type="radio" name="optAsocia" id="optCompetencia" aria-label="Competencia" value="Competencia" onclick="preguntaAsociada(this.value)" checked>
         </span>
         <label class="form-control" aria-label="Competencia">Competencia</label>
         <span class="input-group-addon">
             <input type="radio" name="optAsocia" id="optConocimiento" aria-label="Conocimiento" value="Conocimiento" onclick="preguntaAsociada(this.value)">
         </span>                            
         <label class="form-control" aria-label="Conocimiento">Conocimiento</label>#}
        <!--<input type="text" class="form-control" aria-label="Competencia">-->

        {#</div>#}


        {% if preguntaTipoId==1 %}
            <div id="dvCompetencia">
                <p>
                    <label for="preguntaCompetencia">Competencia</label> 
                    {{ form_widget(form.competenciaId) }} 
                    {{ form_errors(form.competenciaId) }}  
                </p>
                <p>
                    {#<table id="table-methods-table" data-height="299">
                        <thead>
                        <tr>
                            <th data-field="state" data-checkbox="true"></th>
                            <th data-field="id">Item ID</th>
                            <th data-field="name">Item Name</th>
                            <th data-field="price">Item Price</th>
                        </tr>
                        </thead>
                    </table>#}

                <table id="tableActividadClave" data-height="150" data-show-header="true" data-checkbox-header="false">
                    <thead class="bg-info">
                        <tr>                                                                
                            <th data-field="preguntaActividadClaveAsociada" data-checkbox="true" data-formatter="stateFormatter" ></th>
                            <th data-field="id" data-visible="false"></th>
                            <th data-field="actividadClaveNombre" data-sortable="true" data-width="700">Actividad Clave</th>
                        </tr>                                
                    </thead>        
                </table>
                </p>
                <input type="hidden" name="tbxActividadClaveIds" id="tbxActividadClaveIds" >
            </div>
        {% endif %}
       
        <p>
            <label for="preguntaNombre">Pregunta</label>    
            {#<input type="text" id="tbxPerfilNombre" class="form-control input-sm" placeholder="Ingrese nombre">  #}
            {#{{ render_label(form.preguntaNombre, 'Your name') }}#}
            {{ form_widget(form.preguntaCompetenciaNombre) }} 
            {{ form_errors(form.preguntaCompetenciaNombre) }}
        </p>

        
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary" >Guardar Pregunta</button>
        </div>


        {{ form_rest(form) }}
       </form>



        {% block javascript %}   

            <script type="text/javascript">

                var preguntaId = "{{preguntaId}}";
                var preguntaTipoId = "{{preguntaTipoId}}";
                var competenciaId = "{{competenciaId}}";
                

                getRows2 = function() {
                    var rows = [];

                    for (var i = 0; i < 0; i++) {
                        rows.push({
                            xxx: '',
                            xxx2: '',
                        });
                        id++;
                    }
                    return rows;
                }

                function onSubmit() {
                           


                    //var url = Routing.generate('reserva', parametros);
                    //alert(url);
                    var form = $('form')[0];
                    if (form.checkValidity()) {
                        console.log('valid');

                        //form.action = url;
                        //form.submit();
                        frmSubmit();
                    }
                    //form.submit();

                    return false;
                }
                        

                $(document).ready(function() {

                    //$('#formPreguntaCompetencia_preguntaTipoId').val(preguntaTipoId);

                    $('#tableActividadClave').bootstrapTable('destroy');
                    $('#tableActividadClave').bootstrapTable('showLoading');
                    $('#tableActividadClave').bootstrapTable({data: getRows2()})

                    $('#tableAprendizaje').bootstrapTable('destroy');
                    $('#tableAprendizaje').bootstrapTable('showLoading');
                    $('#tableAprendizaje').bootstrapTable({data: getRows2()});

                    switch (preguntaTipoId) {
                        case "1":

                            //alert(preguntaConocimiento)
                            //alert(modal.find('.modal-body optAsocia').val());
                            //alert($('input:radio[name=optAsocia]:checked').val());

                            

                            //$('input:radio[name=optAsocia][value="Competencia"]').prop('checked', true);    
                            //$('#dvCompetencia').attr("style","display:block");
                            //$('#dvConocimiento').attr("style","display:none");                
                            //modal.find('.modal-body #formPreguntaCompetencia_competenciaId').val(competenciaId);

                            //Buscamos las actividades claves asociadas a la competencia
                            if (competenciaId!="0") {
                                $('#formPreguntaCompetencia_competenciaId').val(competenciaId)
                            }
                                                        
                            
                            var parametro = {'competenciaId': competenciaId, 'preguntaId': preguntaId};
                            
                            //$('#tableActividadClave').bootstrapTable('destroy');
                            $('#tableActividadClave').bootstrapTable('showLoading');
                            var url = Routing.generate('preguntaTablaActividadClave', parametro);
                            //alert(url);
                            $.ajax({
                                url: url,
                                type: 'post',
                                dataType: 'json',
                                success: function(respuesta) {
                                    $('#tableActividadClave').bootstrapTable('destroy');
                                    $('#tableActividadClave').bootstrapTable({data: respuesta});
                                },
                                // código a ejecutar si la petición falla;
                                error: function(xhr, status) {
                                    alert('Disculpe, existió un problema');
                                },
                            });

                            break;
                        case "2":

                           

                            //alert(conocimientoId);
                            //$('input:radio[name=optAsocia][value="Conocimiento"]').prop('checked', true);
                            //$('#dvCompetencia').attr("style","display:none");
                            //$('#dvConocimiento').attr("style","display:block");                
                            //modal.find('.modal-body #formPreguntaCompetencia_conocimientoId').val(conocimientoId);

                            $('#tableAprendizaje').bootstrapTable('destroy');
                            $table = $('#tableAprendizaje').bootstrapTable({
                                data: getRows2()
                            });

                            if (conocimientoId!="0") {
                                $('#formPreguntaCompetencia_conocimientoId').val(conocimientoId)
                            }
                            
                            //Buscamos los aprendizajes asociados al conocimiento
                            var parametro = {'conocimientoId': conocimientoId, 'preguntaId': preguntaId};
                            $('#tableAprendizaje').bootstrapTable('showLoading');
                            var url = Routing.generate('preguntaTablaAprendizaje', parametro);
                            //alert(conocimientoId + " " +url);
                            $.ajax({
                                url: url,
                                type: 'post',
                                dataType: 'json',
                                success: function(respuesta) {
                                    $('#tableAprendizaje').bootstrapTable('destroy');
                                    $('#tableAprendizaje').bootstrapTable({data: respuesta});
                                },
                                // código a ejecutar si la petición falla;
                                error: function(xhr, status) {
                                    alert('Disculpe, existió un problema');
                                },
                            });

                            break;
                    }

                    $('#formPreguntaCompetencia_competenciaId').on('change', function() {
                        competenciaId = $(this).val();

                        var parametro = {'competenciaId': competenciaId, 'preguntaId': preguntaId};
                        $('#tableActividadClave').bootstrapTable('showLoading');
                        var url = Routing.generate('preguntaTablaActividadClave', parametro);
                        //alert("'" + url + "'");

                        html = "<div class='input-group'><span class='input-group-addon' id='basic-addon2'>1</span><input type='text' class='form-control' placeholder='Ingrese Conocimiento' aria-describedby='basic-addon2'></div>";
                        $.ajax({
                            // la URL para la petición

                            url: url,
                            // la información a enviar
                            //data : { 'fac' : <?php echo $dato['factura']; ?> },
                            // especifica si será una petición POST o GET
                            type: 'post',
                            // el tipo de información que se espera de respuesta
                            dataType: 'json',
                            // código a ejecutar si la petición es satisfactoria;

                            success: function(respuesta) {

                                $('#tableActividadClave').bootstrapTable('destroy');

                                $('#tableActividadClave').bootstrapTable({data: respuesta});

                            },
                            // código a ejecutar si la petición falla;
                            error: function(xhr, status) {
                                alert('Disculpe, existió un problema');
                            },
                        });
                    });


                    $('#formPreguntaCompetencia_conocimientoId').on('change', function() {
                        conocimientoId = $(this).val();
                        if (parseInt(conocimientoId) > 0) {
                            var parametro = {'conocimientoId': conocimientoId, 'preguntaId': preguntaId};
                            $('#tableAprendizaje').bootstrapTable('showLoading');
                            var url = Routing.generate('preguntaTablaAprendizaje', parametro);
                            //alert("'" + url + "'");

                            // html = "<div class='input-group'><span class='input-group-addon' id='basic-addon2'>1</span><input type='text' class='form-control' placeholder='Ingrese Conocimiento' aria-describedby='basic-addon2'></div>";
                            $.ajax({
                                // la URL para la petición

                                url: url,
                                // la información a enviar
                                //data : { 'fac' : <?php echo $dato['factura']; ?> },
                                // especifica si será una petición POST o GET
                                type: 'post',
                                // el tipo de información que se espera de respuesta
                                dataType: 'json',
                                // código a ejecutar si la petición es satisfactoria;

                                success: function(respuesta) {

                                    $('#tableAprendizaje').bootstrapTable('destroy');

                                    $('#tableAprendizaje').bootstrapTable({data: respuesta});

                                },
                                // código a ejecutar si la petición falla;
                                error: function(xhr, status) {
                                    alert('Disculpe, existió un problema');
                                },
                            });
                        } else {
                            $('#tableAprendizaje').bootstrapTable('destroy');
                            $table = $('#tableAprendizaje').bootstrapTable({
                                data: getRows2()
                            });
                        }
                    });


                });


                function stateFormatter(value, row, index) {

                    if (row.preguntaActividadClaveAsociada == "1") {
                        return {checked: true};
                    }

                    if (row.preguntaAprendizajeAsociada == "1") {
                        return {checked: true};
                    }
                }

                function preguntaTipo(value) {
                    //document.getElementById("formPreguntaCompetencia_preguntaAsociada").value=value;                                      
                {#  var competenciaId=document.getElementById("formPreguntaCompetencia_competenciaId").value;
                  var conocimientoId=document.getElementById("formPreguntaCompetencia_conocimientoId").value;#}

                          switch (value) {
                              case "1":
                                  //document.getElementById("dvCompetencia").style.display="block";
                                  //document.getElementById("dvConocimiento").style.display="none";

                {# if (competenciaId=="") {
                     $('#tableActividadClave').bootstrapTable('destroy');
                     $('#tableActividadClave').bootstrapTable('showLoading');
                     $('#tableActividadClave').bootstrapTable({data: getRows2()}); 
                 }#}    

                                  break;
                              case "2":
                                  //document.getElementById("dvCompetencia").style.display="none";
                                  //document.getElementById("dvConocimiento").style.display="block";

                {#  if (conocimientoId=="") {
                      $('#tableAprendizaje').bootstrapTable('destroy');             
                      $('#tableAprendizaje').bootstrapTable('showLoading');
                      $('#tableAprendizaje').bootstrapTable({data: getRows2()});
                  }   #} 


                                  break;
                          }
                      }

                      function frmSubmit() {

                          //alert(JSON.stringify($("#tableActividadClave").bootstrapTable('getSelections')));
                          var preguntaTipoId = '{{preguntaTipoId}}'; //document.getElementById("formPreguntaCompetencia_preguntaTipoId").value;

                          switch (preguntaTipoId) {
                              case "1":
                                  var data = JSON.stringify($("#tableActividadClave").bootstrapTable('getSelections')) // '{"0":"1","1":"2","2":"3","3":"4"}';
                                  break;
                              case "2":
                                  var data = JSON.stringify($("#tableAprendizaje").bootstrapTable('getSelections')) // '{"0":"1","1":"2","2":"3","3":"4"}';
                                  break;
                          }

                          var json = JSON.parse(data);

                          var arr = [];
                          var ids = "";
                          for (var row in json) {
                              //alert(json[row]["id"]);
                              ids += json[row]["id"] + ",";
                          }
                          
                          switch (preguntaTipoId) {
                              case "1":
                                  document.getElementById("tbxActividadClaveIds").value = ids;
                                  //document.getElementById("tbxAprendizajeIds").value="";
                                  //document.getElementById("formPreguntaCompetencia_conocimientoId").value="";
                                  break;
                              case "2":
                                  //document.getElementById("tbxActividadClaveIds").value="";
                                  document.getElementById("tbxAprendizajeIds").value = ids;
                                  //document.getElementById("formPreguntaCompetencia_competenciaId").value="";

                                  break;
                          }
                        var url = Routing.generate('competenciaRegistrar');
                        document.formPreguntaCompetencia.action=url;
                        document.formPreguntaCompetencia.submit();
                      }




            </script>        
        {% endblock %}

    {% endblock %}

