{% extends 'GtSistemaBundle::basePop.html.twig' %}
{% block title %} Gestionatalento {% endblock %}
{#{% block dondeEstoy %}Empresa Cambiar{% endblock %}#}

{% block body %}
    
    <style>
        .icon-ok {
            color: #449d44;
        }
                
        .icon-danger {
            color: #c9302c;
        }    
        
        #icon {
            font-size:23px;
            cursor: pointer;
        }
        
    </style>
    
        <div class="page-header" style="margin-top: 2px; margin-bottom: 2px">
            <h4 style="margin-top: 2px;  margin-bottom: 2px">{{personaNombre}}<br><small>{{perfilNombre}}</small></h4>
        </div>
                                                                      
        <h4>Estado de evaluación de las conocimientos</h4>
        
        {#<span id="icon" class="glyphicon glyphicon-ok-circle icon-ok" aria-hidden="true"></span> = Evaluada
        <span id="icon" class="glyphicon glyphicon-remove-circle icon-danger" aria-hidden="true"></span> = Sin Evaluar
        <br><br>#}
        <table>
        {% set i = 0 %}
        {% for row in perfilConocimientoEntity %}
            {% set i = i + 1 %}    
            <tr>                
                <td class="col-md-2">
                    {% if row.evaluacionConocimientoRespuesta > 0 %}
                        <span id="icon" class="glyphicon glyphicon-ok-circle icon-ok" aria-hidden="true"></span>
                    {% else %}
                        <span id="icon" class="glyphicon glyphicon-remove-circle icon-danger" aria-hidden="true"></span>
                    {% endif %}    
                </td>
                <td>[{{ i }}]&nbsp;</td>
                <td>{{ row.conocimientoNombre }}</td>
            </tr>
        {% endfor %}
        </table>                     
                 
        <div class="col-md-12">
            <div class="control-group form-horizontal pull-right">
                <input type="button" name="btnAceptar" id="btnAceptar" value="Evaluar Conocimientos" onclick="evaluar()" class="btn btn-primary btn-sm">
                <input type="button" name="btnCerrar" id="btnCerrar" value="Cerrar" onclick="cerrar()" class="btn btn-primary btn-sm">
            </div>
        </div>
                                                                                    
{% endblock %}


{% block javascript %}   

    <script type="text/javascript">

       
       function evaluar() {
           window.parent.progress("winEvaluacionPreguntaConocimiento");
            var participanteId = "{{ participanteId }}";
            var parametro = {'participanteId':participanteId};
            var url=Routing.generate('evaluacionPreguntaConocimiento', parametro);
            document.location.href=url;
            
       }
       
       function cerrar() {
           window.parent.cerrar("winEvaluacionPreguntaConocimiento");
           
       }

    </script>
{% endblock %}
